  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">~Share Your Hobbies~</h1>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <p class="lead"><h2 class="le">This blog is about all of my hobbies. I really like doing much stuff, so here is 
      a way to organise everything in one place.</h2></p>
      <hr class="my-4">
      <p class="le">Feel free to explore my website and add your own hobbies.</p>
      <%= link_to "Sign up for free!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
